/**
 * col()
 * col($column, $align = (middle, top, bottom), $margin = $grid-column-gutter)
 */
col($column, $align = top, $margin = $grid-column-gutter)
  width $column * 100%
  margin 0 $margin
  display inline-block
  vertical-align $align
  font-size initial
