/**
 * col()
 * col($column, $align = (middle, top, bottom))
 */
col($column, $align = top)
  width $column * 100%
  margin 0 $grid-column-gutter
  display inline-block
  vertical-align $align
  font-size initial
