/**
 * Make an row container
 * row()
 * row($width = $grid-row-width, $padding = $grid-row-gutter)
 */
row($width = $grid-row-width, $padding = $grid-row-gutter)
  width 100%
  display block
  margin 0 auto
  padding 0 $padding
  max-width $width
  font-size 0
