/**
 * Make an row container
 * row()
 * row($margin = 0, $width = $grid-row)
 */
row($margin = 0, $width = $grid-row)
  width 100%
  display block
  margin $margin auto
  padding 0 $grid-column-gutter
  max-width $width
  font-size 0