/**
 * Make an row container
 * row()
 * row($margin = 0, $grid-row-width)
 */
row($margin = 0, $grid-row-width)
  width 100%
  display block
  margin $margin auto
  padding 0 $grid-row-gutter
  max-width $grid-row-width
  font-size 0
