/**
 * Span
 * @mixin span($column, $align: (middle, top, bottom))
 */
 @mixin span($column, $align: top){
    width: $column * 100%;
    padding: 0;
    display: inline-block;
    vertical-align: $align;
    font-size: initial;
 }