// *
//  * Column
//  * @mixin col($column, $align: (middle, top, bottom), $padding: $grid-column-gutter)
// *
@mixin col($column, $align: top, $padding: $grid-column-gutter) {
  display: inline-block;
  font-size: initial;
  padding: 0 $padding;
  vertical-align: $align;
  width: $column * 100%;
}
