// *
//  * Span
//  * @mixin span($column, $align: (middle, top, bottom))
// *
@mixin span($column, $align: top) {
  display: inline-block;
  font-size: initial;
  padding: 0;
  vertical-align: $align;
  width: $column * 100%;
}
